<div *ngIf="user != null" id="header">
  <div class="color-line">
  </div>
  <div id="logo" class="light-version">
    <span>
      World of Rations Suite
    </span>
  </div>
  <nav role="navigation">
    <div class="header-link hide-menu">
      <i class="fa fa-bars"></i>
    </div>
    <div class="small-logo">
      <span class="text-primary">World of Rations Suite</span>
    </div>
    <form role="search" class="navbar-form-custom" method="post" action="#">
      <div class="form-group">
        <input type="text" placeholder="Search something special" class="form-control" name="search">
      </div>
    </form>
    <div class="navbar-right">
      <ul class="nav navbar-nav no-borders">
        <li>
          <a href="/login">
            <i class="fa fa-sign-out"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<aside *ngIf="user != null" id="menu">
  <div id="navigation">
    <div class="profile-picture">
      <a href="/">
        <img src="{{ user.picture }}" class="img-circle m-b" alt="logo" width="75">
      </a>
      <div class="stats-label text-color">
        <span class="font-uppercase">{{ user.displayName }}</span>
        <div>
          <label class="font-extra-bold m-b-xs">
            <span *ngIf="user.verified" class="label label-primary">VERIFIED</span>
            <span *ngIf="!user.verified" class="label label-warning">UNVERIFIED</span>
          </label>
          <label class="font-extra-bold m-b-xs">
            <span class="label label-primary">{{ user.country | uppercase }}</span>
          </label>
          <label class="font-extra-bold m-b-xs">
            <span class="label label-success">{{ user.packageClass | uppercase }}</span>
          </label>
        </div>
      </div>
    </div>
    <app-side-menu></app-side-menu>
  </div>
</aside>