<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <app-messages></app-messages>
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Welcome to World of Rations Suite
        </h2>
        <p>
          World of Rations Suite is an online cloud-based ration formulation program, structured in such a way as to suit the farmer,
          specialist nutritionist, feed milling companies and academics alike.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Dashboard
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/assets/images/haystack.jpg" alt="haystack">
                  <div class="caption">
                    <h3>Formulator</h3>
                    <p>
                      The formulator in our program formulates rations on an ‘as is’ basis according to the National Research Council’s (NRC) standards
                      for all the animal species in our list. These are the animals daily requirements for the various stages
                      of growth and/or physiological phase of production and are used as typical recommendations for all
                      our categories. However, you can override any of these values if you wish to use other specifications.
                    </p>
                    <p>
                      <a href="/formulator" class="btn btn-primary" role="button">Go to Formulator</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="thumbnail">
                  <img src="/assets/images/question-marks.jpg" alt="haystack">
                  <div class="caption">
                    <h3>Specie-specific Tips</h3>
                    <p>
                      In order to facilitate and help with the selection of feedstuffs and other ingredients for the 14 different animal species
                      in our list, World of Rations have divided them into eight unique groups, each group having its common
                      ingredients and feedstuffs peculiar to the species that fall in that group. These groups are: Ruminants,
                      Horses, Pigs, Poultry, Dogs and Cats, Pigeons, Fish and Rabbits
                    </p>
                    <p>
                      <a href="/tips" class="btn btn-primary" role="button">Go to Specie-specific Tips</a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Cost</th>
                      <th>Feasible</th>
                      <th>Timestamp</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngIf="subscription.permissions.indexOf('create-formulation') > -1 && formulations.length == 0">
                      <td colspan="5">You have not formulated any rations. Go to the formulator <a href="/formulator">now</a>!!</td>
                    </tr>
                    <tr *ngFor="let formulation of formulations">
                      <td>{{ formulation.name }}</td>
                      <td>{{ formulation.cost | number : '1.2-2' }}</td>
                      <td>{{ formulation.feasible }}</td>
                      <td>{{ formulation.timestamp | date:'yyyy-MM-dd' }}</td>
                      <td>
                        <a href="/formulations/{{formulation.id}}" class="btn btn-default" *ngIf="formulation.feasible && subscription.permissions.indexOf('view-formulation') > -1">View</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>