<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Welcome to World of Rations Suite
        </h2>
        <p>
          World of Rations Suite is an online cloud-based ration formulation program, structured in such a way as to suit the farmer, specialist
          nutritionist, feed milling companies and academics alike.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Dashboard
          </div>
          <div class="panel-body">

          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>