<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Formulations
        </h2>
        <p>
          Help and tutorials regarding the management of formulations can be found on our
          <a href="https://worldofrations.com/help">help page</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Formulations
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Cost</th>
                  <th>Feasible</th>
                  <th>Timestamp</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="subscription.permissions.indexOf('create-formulation') > -1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/formulator" class="btn btn-primary">New Formulation</a>
                  </td>
                </tr>
                <tr *ngFor="let formulation of formulations">
                  <td>{{ formulation.name }}</td>
                  <td>{{ formulation.cost | number : '1.2-2' }}</td>
                  <td>{{ formulation.feasible }}</td>
                  <td>{{ formulation.timestamp | date:'yyyy-MM-dd' }}</td>
                  <td>
                    <a href="/formulations/{{formulation.id}}" class="btn btn-default" *ngIf="formulation.feasible && subscription.permissions.indexOf('view-formulation') > -1">View</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>