<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Formulations
        </h2>
        <p>
          The formulator in our program formulates rations on an ‘as is’ basis according to the National Research Council’s (NRC) standards for all the animal species in our list. These are the animals daily requirements for the various stages of growth and/or physiological phase of production and are used as typical recommendations for all our categories. However, you can override any of these values if you wish to use other specifications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Formulations
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Cost</th>
                  <th>Feasible</th>
                  <th>Timestamp</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="user.subscription.permissions.indexOf('create-formulation') > -1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/formulator" class="btn btn-primary">New Formulation</a>
                  </td>
                </tr>
                <tr *ngFor="let formulation of formulations">
                  <td>{{ formulation.name }}</td>
                  <td>{{ formulation.cost | number : '1.2-2' }}</td>
                  <td>{{ formulation.feasible }}</td>
                  <td>{{ formulation.timestamp | date:'yyyy-MM-dd' }}</td>
                  <td>
                    <a href="/formulations/{{formulation.id}}" class="btn btn-default" *ngIf="formulation.feasible && user.subscription.permissions.indexOf('view-formulation') > -1">View</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>