<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Billing
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div *ngIf="!subscription.expired" class="hpanel hbgblue">
          <div class="panel-body">
            <div class="text-center">
              <h3>You are currently on our {{ subscription.type | titlecase }} Subscription</h3>
              <p *ngIf="subscription.endTimestamp" class="text-big font-light">
                Ends on {{ subscription.endTimestamp | date: 'dd MMM yyyy' }}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="subscription.expired" class="hpanel hbgred">
          <div class="panel-body">
            <div class="text-center">
              <h3>Your {{ subscription.type | titlecase }} Subscription has expired</h3>
              <p class="text-big font-light">
                Please
                <a (click)="selectSubscription(subscription.type)">renew</a> your subscription.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="hpanel plan-box hgreen">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Basic Subscription</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Basic Subscription offers free formulations to fully balanced rations up to the macro-nutrient stage for any of the 14
              animal species in our list as well as to the various physiological stages of growth and/or production of the
              selected animal.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Vitamins And Trace Minerals Supplement Mix
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              The Basic Subscription neither offers the nutrient composition nor the vitamins and trace minerals supplement mix.
            </p>
            <h3 class="font-bold">
              FREE
            </h3>
            <button (click)="selectSubscription('basic')" class="btn btn-success btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hpanel plan-box hblue active">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Standard plan</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Standard Subscription offers all the functionality of the Basic Subscription but includes the nutrient compostion.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Vitamins And Trace Minerals Supplement Mix
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              The Standard Subscription does not offer the vitamins and trace minerals supplement mix.
            </p>
            <h3 class="font-bold">
              $39.95/month
            </h3>
            <button (click)="selectSubscription('standard')" class="btn btn-info btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hpanel plan-box hred">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Premium plan</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Premium Subscription offers our full suite of features which includes suggested values, nutrient composition and vitamins
              and trace minerals supplement mix.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Vitamins And Trace Minerals Supplement Mix
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              The Premium Subscription as no limitations and includes 24/7 support and guidance.
            </p>
            <h3 class="font-bold">
              $64.95/month
            </h3>
            <button (click)="selectSubscription('premium')" class="btn btn-danger btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>