<app-header></app-header>
<div *ngIf="user != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Billing
        </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div *ngIf="!subscription.expired" class="hpanel hbgblue">
          <div class="panel-body">
            <div class="text-center">
              <h3>You are currently on our {{ subscription.type | uppercase }} Plan</h3>
              <p *ngIf="subscription.expiryTimestamp" class="text-big font-light">
                Ends on {{ subscription.expiryTimestamp | date: 'dd MMM yyyy' }}
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="subscription.expired" class="hpanel hbgred">
          <div class="panel-body">
            <div class="text-center">
              <h3>Your {{ subscription.type | uppercase }} Plan has expired</h3>
              <p class="text-big font-light">
                Please <a (click)="selectSubscription(subscription.type)">renew</a> your subscription.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Payments
          </div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th>Subscription</th>
                <th>Period</th>
                <th>Status</th>
                <th></th>
              </tr>
              <tr *ngFor="let payment of payments">
                <td>{{ payment.subscription | uppercase }}</td>
                <td>{{ payment.period }} days</td>
                <td>
                  <span *ngIf="!payment.paid" class="label label-warning">Unpaid</span>
                  <span *ngIf="payment.paid" class="label label-success">Paid ({{ payment.paidTimestamp | date: 'yyyy-MM-dd HH:mm' }})</span>
                  <span *ngIf="payment.assigned" class="label label-primary">Assigned</span>
                </td>
                <td>
                  <a *ngIf="isUrl(payment.redirectUri) && !payment.paid" href="{{ payment.redirectUri }}" class="btn btn-primary">Pay</a>
                  <div *ngIf="!isUrl(payment.redirectUri) && !payment.paid" [innerHtml]="payment.redirectUri | safeHtml">
                  </div>
                  <button *ngIf="payment.paid && !payment.assigned" (click)="onClick_Assign(payment.subscription)" class="btn btn-primary">Assign</button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <div class="hpanel plan-box hgreen">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Basic plan</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Basic Plan offers its user free formulations to fully balanced rations up to the macro-nutrient stage for any of the
              14 animal species in our list as well as to the various physiological stages of growth and/or production of
              the selected animal. A table is provided giving the quantities (in kg) of each the feedstuffs offered that
              the formulation requires to be used to make a one ton mix.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Vitamins And Trace Minerals Supplement
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              Please note that the Basic Plan does not provide its user with the nutrient composition of the formulated ration. Nor does
              it indicate which nutrients are in adequate supply, or which are inadequately supplied or which are in excess,
              i.e. over-supplied. Neither does it provide its user with a customized vitamin and trace mineral premix to
              supplement any of the deficiencies found in the initial formulation at the macro-nutrient stage.
            </p>
            <h3 class="font-bold">
              FREE
            </h3>
            <button (click)="selectSubscription('basic')" class="btn btn-success btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hpanel plan-box hblue active">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Standard plan</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Standard Plan offers its user formulations to fully balanced rations up to the macro-nutrient stage for any of the 14
              animal species in our list as well as to the various physiological stages of growth and/or production of the
              selected animal. Not only is a table provided giving the quantities (in kg) of each the feedstuffs offered
              that the formulation requires to be used to make a one ton mix, but it also provides a second table which gives
              the nutrient composition of the formulated ration, indicating the nutrients that are in adequate supply, those
              that are inadequately supplied and those that are in excess, i.e. over-supplied.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-square-o"></i> Vitamins And Trace Minerals Supplement
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              Please note that the Standard Plan does not provide its user with a customized vitamin and trace mineral premix to supplement
              any of the deficiencies found in the initial formulation at the macro-nutrient stage.
            </p>
            <h3 class="font-bold">
              $9.95/month
            </h3>
            <button (click)="selectSubscription('standard')" class="btn btn-info btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="hpanel plan-box hred">
          <div class="panel-heading hbuilt text-center">
            <h4 class="font-bold">Premium plan</h4>
          </div>
          <div class="panel-body">
            <p class="text-muted">
              The Premium Plan offers its user the full house of our many and unique features for as little as $19.95 per month. This plan
              will appeal to all professional feed formulators, nutritionists and to the stock owner or farmer that takes
              feeding and formulations seriously.
            </p>
            <table class="table">
              <thead>
                <tr>
                  <td>
                    Features
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Ration Groups
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Rations
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Custom Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Suggested Values For Feedstuffs
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Nutrient Composition Of Formulated Ration
                  </td>
                </tr>
                <tr>
                  <td>
                    <i class="fa fa-check-square-o"></i> Vitamins And Trace Minerals Supplement
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="text-muted">
              As can be seen from the above list of features, there are no features barred in the Premium Plan.
            </p>
            <h3 class="font-bold">
              $19.95/month
            </h3>
            <button (click)="selectSubscription('premium')" class="btn btn-danger btn-sm m-t-xs">Select plan</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>