<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Suggested Values
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel pharetra nisi. Sed convallis magna quis facilisis suscipit.
          Donec sollicitudin enim vel tortor dictum scelerisque. Morbi interdum hendrerit ullamcorper.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Suggested Values
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Ingredient</th>
                  <th>Diet Group</th>
                  <th>Minimum</th>
                  <th>Maximum</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="subscription.permissions.indexOf('create-suggested-value') > -1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/suggestedvalue/create" class="btn btn-primary">New Suggested Value</a>
                  </td>
                </tr>
                <!-- <tr *ngFor="let nutrient of nutrients">
                  <td>{{ nutrient.abbreviation }}</td>
                  <td>{{ nutrient.name }}</td>
                  <td>{{ nutrient.unit }}</td>
                  <td>{{ nutrient.sortOrder }}</td>
                  <td>
                    <a href="/nutrients/edit/{{nutrient.id}}" class="btn btn-default" *ngIf="subscription.permissions.indexOf('view-nutrient') > -1">Edit</a>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>