<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Ration Groups
        </h2>
        <p>
          Help and tutorials regarding the management of ration groups can be found on our
          <a href="https://worldofrations.com/help">help page</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Ration Groups
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="subscription.permissions.indexOf('create-diet-group') > -1">
                  <td></td>
                  <td>
                    <a href="/ration/groups/create" class="btn btn-primary">New Ration Group</a>
                  </td>
                </tr>
                <tr *ngFor="let dietGroup of dietGroups">
                  <td>{{ dietGroup.name }}</td>
                  <td>
                    <a href="/ration/groups/edit/{{dietGroup.id}}" class="btn btn-default" *ngIf="subscription.permissions.indexOf('view-diet-group') > -1">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>