<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Least-Cost Ration Formulator
        </h2>
        <p>
          Choose from our list of over 264 feedstuffs and over 900 rations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Least-Cost Ration Formulator
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label>Ration Group</label>
              <div *ngFor="let dietGroupDropdown of dietGroupDropdowns; let i = index">
                <select [(ngModel)]="dietGroupDropdown.selectedItem" (change)="onChange_DietGroupDropdown(i)" class="form-control">
                  <option [ngValue]="null" disabled>Select Ration Group</option>
                  <option *ngFor="let dietGroup of dietGroupDropdown.dietGroups" [ngValue]="dietGroup">{{ dietGroup.name }}</option>
                </select>
                <br />
              </div>
            </div>
            <div class="form-group">
              <label>Ration</label>
              <div>
                <select [(ngModel)]="selectedDiet" class="form-control">
                  <option [ngValue]="null" disabled>Select Ration</option>
                  <option *ngFor="let diet of diets" [ngValue]="ration">{{ diet.name }}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>