<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Least-Cost Ration Formulator
        </h2>
        <p>
          Choose from our list of over 264 feedstuffs and over 900 rations.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Least-Cost Ration Formulator
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group">
                <label>Ration Group</label>
                <div *ngFor="let dietGroupDropdown of dietGroupDropdowns; let i = index">
                  <select [(ngModel)]="dietGroupDropdown.selectedItem" (change)="onChange_DietGroupDropdown(i)" class="form-control">
                    <option [ngValue]="null" disabled>Select Ration Group</option>
                    <option *ngFor="let dietGroup of dietGroupDropdown.dietGroups" [ngValue]="dietGroup">{{ dietGroup.name }}</option>
                  </select>
                  <br />
                </div>
              </div>
              <div class="form-group">
                <label>Ration</label>
                <div>
                  <select [(ngModel)]="selectedDiet" class="form-control">
                    <option *ngFor="let diet of diets" [ngValue]="diet">{{ diet.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Mix Weight (kg)</label>
                <input type="number" class="form-control" [(ngModel)]="mixWeight" disabled />
              </div>
            </div>
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Feedstuff</th>
                    <th>Minimum (kg)</th>
                    <th>Maximum (kg)</th>
                    <th>Cost per {{ mixWeight }} kg</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" (click)="onClick_AddFeedstuff()">Add</button>
                    </td>
                  </tr>
                  <tr *ngFor="let formulationIngredient of formulationIngredients">
                    <td>
                      <select [(ngModel)]="formulationIngredient.ingredient" class="form-control">
                        <option [ngValue]="null" disabled>Select Feedstuff</option>
                        <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ ingredient.name }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.minimum" />
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.maximum" />
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.cost" />
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="onClick_RemoveFeedstuff(formulationIngredient)">Remove</button>
                    </td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button (click)="onClick_Formulate()" class="btn btn-success">Formulate</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="result">
              <div class="alert alert-success" role="alert" *ngIf="result.feasible">
                <p>
                  We have successfully formulated a least-cost ration that meets the NRC's nutrient requirements for the above ration with
                  a total cost of {{ result.cost | number : '1.2-2' }} per {{ mixWeight }} kg.
                </p>
                <br />
                <p>
                  <a href="/formulator/{{result.id}}" class="btn btn-primary">View Composition</a>
                  <br />
                  <br /> View the composition of the formulation or adjust feedstuffs and formulate again.
                </p>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="!result.feasible">
                <p>
                  We could not formulate a feasible ration. Please change your selection of feedstuffs and formulate again.
                </p>
                <br />
                <p>
                  If this problem persists, please contact World of Rations by sending an email to info@worldofrations.com.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>