<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Least-Cost Ration Formulator
        </h2>
        <p>
          The formulator in our program formulates rations on an ‘as is’ basis according to the National Research Council’s (NRC) standards
          for all the animal species in our list. These are the animals daily requirements for the various stages of growth
          and/or physiological phase of production and are used as typical recommendations for all our categories. However,
          you can override any of these values if you wish to use other specifications.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Least-Cost Ration Formulator
          </div>
          <div class="panel-body">
            <p *ngFor="let message of messages">
              <label class="text-danger">{{ message }}</label>
              <br />
            </p>
            <div class="row">
              <div class="form-group">
                <label>Ration Group</label>
                <div *ngFor="let dietGroupDropdown of dietGroupDropdowns; let i = index">
                  <select [(ngModel)]="dietGroupDropdown.selectedItem" (change)="onChange_DietGroupDropdown(i)" class="form-control">
                    <option [ngValue]="null" disabled>Select Ration Group</option>
                    <option *ngFor="let dietGroup of dietGroupDropdown.dietGroups" [ngValue]="dietGroup">{{ dietGroup.name }}</option>
                  </select>
                  <br />
                  <div *ngIf="dietGroupDropdown.selectedItem && dietGroupDropdown.selectedItem.description">
                    <p style="margin-left: 15px; margin-right: 15px">
                      {{ dietGroupDropdown.selectedItem.description }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Ration</label>
                <div>
                  <select [(ngModel)]="selectedDiet" (change)="onChange_Diet()" class="form-control">
                    <option *ngFor="let diet of diets" [ngValue]="diet">{{ diet.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>Mix Weight (kg)</label>
                <input type="number" class="form-control" [(ngModel)]="mixWeight" disabled />
              </div>
            </div>
            <div class="row">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Feedstuff</th>
                    <th>Minimum (kg)</th>
                    <th>Maximum (kg)</th>
                    <th>Cost per {{ mixWeight }} kg</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                      <button class="btn btn-primary" (click)="onClick_AddIngredient()">Add</button>
                    </td>
                  </tr>
                  <tr *ngFor="let formulationIngredient of formulationIngredients">
                    <td>
                      <select [(ngModel)]="formulationIngredient.ingredient" (change)="onChange_Ingredient(formulationIngredient)" class="form-control">
                        <option [ngValue]="null" disabled>Select Feedstuff</option>
                        <option *ngFor="let ingredient of ingredients" [ngValue]="ingredient">{{ ingredient.name }}</option>
                      </select>
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.minimum" />
                      <p *ngIf="formulationIngredient.suggestedValue && formulationIngredient.suggestedValue.minimum != null">
                        We recommend you use {{ formulationIngredient.suggestedValue.minimum }} kg per 1000 kg as a minimum.
                      </p>
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.maximum" />
                      <p *ngIf="formulationIngredient.suggestedValue && formulationIngredient.suggestedValue.maximum != null">
                        We recommend you use {{ formulationIngredient.suggestedValue.maximum }} kg per 1000 kg as a maximum.
                      </p>
                    </td>
                    <td>
                      <input type="number" class="form-control" [(ngModel)]="formulationIngredient.cost" />
                    </td>
                    <td>
                      <button class="btn btn-danger" (click)="onClick_RemoveIngredient(formulationIngredient)">Remove</button>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <p *ngFor="let message of messages">
                        <label class="text-danger">{{ message }}</label>
                        <br />
                      </p>
                    </td>
                    <td>
                      <button (click)="onClick_Formulate()" class="btn btn-success" *ngIf="user.permissions.indexOf('create-formulation') > -1">Formulate</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="row" *ngIf="result">
              <div class="alert alert-success" role="alert" *ngIf="result.feasible">
                <p>
                  We have successfully formulated a least-cost ration that meets the NRC's nutrient requirements for the above ration with
                  a total cost of {{ result.cost | number : '1.2-2' }} per {{ mixWeight }} kg.
                </p>
                <br />
                <p>
                  <a href="/formulations/{{result.id}}" class="btn btn-primary">View Composition</a>
                  <br />
                  <br /> View the composition of the formulation or adjust feedstuffs and formulate again.
                </p>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="!result.feasible">
                <p>
                  We could not formulate a feasible ration. Please change your selection of feedstuffs and formulate again.
                </p>
                <br />
                <p>
                  If this problem persists, please contact World of Rations by sending an email to info@worldofrations.com.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>