<app-header></app-header>
<div *ngIf="user != null && subscription != null && suggestedValue != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Suggested Value - {{ suggestedValue.ingredient.name }}
        </h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vel pharetra nisi. Sed convallis magna quis facilisis suscipit.
          Donec sollicitudin enim vel tortor dictum scelerisque. Morbi interdum hendrerit ullamcorper.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            Suggested Value - {{ suggestedValue.ingredient.name }}
          </div>
          <div class="panel-body">
            <p *ngFor="let message of messages">
              <label class="text-danger">{{ message }}</label>
              <br />
            </p>
            <div class="form-group">
              <label>Ration Group</label>
              <div *ngFor="let dietGroupDropdown of dietGroupDropdowns; let i = index">
                <select [(ngModel)]="dietGroupDropdown.selectedItem" (change)="onChange_DietGroupDropdown(i)" class="form-control">
                  <option [ngValue]="null" disabled>Select Ration Group</option>
                  <option *ngFor="let dietGroup of dietGroupDropdown.dietGroups" [ngValue]="dietGroup">{{ dietGroup.name }}</option>
                </select>
                <br />
                <div *ngIf="dietGroupDropdown.selectedItem && dietGroupDropdown.selectedItem.description">
                  <p style="margin-left: 15px; margin-right: 15px">
                    {{ dietGroupDropdown.selectedItem.description }}
                  </p>
                </div>
              </div>
            </div>
            <!-- <button (click)="onClick_Save()" class="btn btn-success" *ngIf="subscription.permissions.indexOf('update-diet-group') > -1">Save</button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>