<ul class="nav" id="side-menu">
  <li>
    <a href="/">
      <span class="nav-label">Dashboard</span>
    </a>
  </li>
  <li>
    <a href="/nutrients">
      <span class="nav-label">Manage Nutrients</span>
    </a>
  </li>
  <li>
    <a href="/ration/groups">
      <span class="nav-label">Manage Rations</span>
    </a>
  </li>
  <li>
    <a href="/feedstuffs">
      <span class="nav-label">Manage Feedstuffs</span>
    </a>
  </li>
  <li>
      <a href="/formulator">
        <span class="nav-label">Least-Cost Ration Formulator</span>
      </a>
    </li>
</ul>