<app-header></app-header>
<div *ngIf="user != null && subscription != null" id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Nutrients
        </h2>
        <p>
          Help and tutorials regarding the management of nutrients can be found on our
          <a href="https://worldofrations.com/help">help page</a>.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Nutrients
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Abbreviation</th>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Sort Order</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="subscription.permissions.indexOf('create-nutrient') > -1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/nutrients/create" class="btn btn-primary">New Nutrient</a>
                  </td>
                </tr>
                <tr *ngFor="let nutrient of nutrients">
                  <td>{{ nutrient.abbreviation }}</td>
                  <td>{{ nutrient.name }}</td>
                  <td>{{ nutrient.unit }}</td>
                  <td>{{ nutrient.sortOrder }}</td>
                  <td>
                    <a href="/nutrients/edit/{{nutrient.id}}" class="btn btn-default" *ngIf="subscription.permissions.indexOf('view-nutrient') > -1">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<app-loader></app-loader>