<app-header></app-header>
<div id="wrapper">
  <div class="content">
    <div class="row">
      <div class="col-lg-12 text-center welcome-message">
        <h2>
          Manage Nutrients
        </h2>
        <p>
          A nutrient is a component in feeds that an animal uses to survive and grow, and is found in varying amounts in all feedstuffs.
          The macronutrients - the first 56 in our list - provide the bulk of an animal's metabolic needs, while the rest,
          the micronutrients, provide the necessary cofactors for metabolism to be carried out. Energy, although strictly
          speaking not a nutrient, is derived and provided to the animal from the protein, fat, carbohydrate and amino acid
          components of the macronutrients.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="hpanel">
          <div class="panel-heading">
            List of Nutrients
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Abbreviation</th>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Sort Order</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="user.permissions.indexOf('create-nutrient') > -1">
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a href="/nutrients/create" class="btn btn-primary">New Nutrient</a>
                  </td>
                </tr>
                <tr *ngFor="let nutrient of nutrients">
                  <td>{{ nutrient.abbreviation }}</td>
                  <td>{{ nutrient.name }}</td>
                  <td>{{ nutrient.unit }}</td>
                  <td>{{ nutrient.sortOrder }}</td>
                  <td>
                    <a href="/nutrients/edit/{{nutrient.id}}" class="btn btn-default" *ngIf="user.permissions.indexOf('view-nutrient') > -1">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>